@font-face {
    font-family: helvNeue;
    src: url('fonts/HelveticaNeueLight.otf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: helvNeue;
    src: url('fonts/HelveticaNeueMedium.otf');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: devinChavez;
    src: url('fonts/devin-chavez-font.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-track {
    border-style: solid;
    border-color: transparent ;
    background-clip: padding-box;
    border-width: 10px; 
    border-image-source: url('scrollbar/scrollthumbtrack.webp');
    border-image-slice: 8 fill; 
    border-image-repeat: stretch; 
}

::-webkit-scrollbar-thumb {
    border-style: solid;
    border-color: transparent ;
    background-clip: padding-box;
    border-width: 10px; 
    border-image-source: url('scrollbar/scrollthumb.webp');
    border-image-slice: 8 fill; 
    border-image-repeat: stretch; 
}

::-webkit-scrollbar-thumb:hover {
    border-image-source: url('scrollbar/scrollthumbhover.webp');
}

body {
    display: flex;
    justify-content: center;
    align-items: center;  
    background-color: #000000;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 8px #000000;
    font-family: helvNeue;
    font-weight:350;
    letter-spacing: 1px;
}

p {
    line-height: 0px;
}

.page {
    padding-top: 60px;
    display: flex;
}

a {
    text-decoration: none;
}

.texta:link {
    color: rgb(180, 180, 255);
}

.artist:link {
    color: rgb(255, 251, 196);
}

.texta:visited {
    color: rgb(179, 223, 130);
}

.texta:hover {
    color: rgb(96, 96, 197);
}

.texta:active {
    color: rgb(120, 69, 153);
}

/* Left side */

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar {
    padding-top: 12px;
    padding-bottom: 12px;
}

.linkbutton {
    background-image: url(interactive/link.webp);
    width: 270px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;  
    font-family: helvNeue;
    text-shadow: 2px 2px 8px #000000;
    font-size: 18px;
    color: white;
    padding-bottom: 3px;
    background-repeat: no-repeat;
    filter: drop-shadow(2px 2px 8px black);
    font-weight: normal;
}

.spec {
    background-image: url(interactive/linkctc.webp); 
    color: rgb(221, 205, 192);
}

.sr64ddlink {
    background-image: url(interactive/linkheader.webp); 
    color: rgb(221, 245, 255);
}


.credbutton {
    background-image: url(interactive/linkcredit.webp); 
    color: rgb(221, 245, 255);
}

.linkbuttona:hover {
    color: grey;
}

.linkbuttona:active {
    background-image: url(interactive/linkpressed.webp);
    color: white;
}

/* Right side */

.rightside {
    width: 800px;
    filter: drop-shadow(8px 8px 18px black);
}

.marq {
    border: 16px solid transparent;
    border-image: url(backgrounds/bordertest4.webp) 16;
    background-image: url(backgrounds/marquee.webp);
    border-radius: 16px;
    background-repeat: no;
    padding-top: 8px;
    height: 24px;
    color: rgb(194, 36, 36);
    overflow: hidden ;
    white-space: nowrap ;
    font-family: devinChavez;
    font-size: 12px;
    text-shadow: 0px 0px 8px #ff0000;
}

.marqalt {
    border-image: url(backgrounds/bordertest4alt.webp) 16;
    background-image: url(backgrounds/marqueealt.webp);
}

.marqabout {
    border-image: url(backgrounds/border4about.webp) 16;
    background-image: url(backgrounds/marqueeabout.webp);
}

.marqlink {
    border-image: url(backgrounds/bordertest4link.webp) 16;
    background-image: url(backgrounds/marqueelink.webp);
    color: rgb(194, 152, 36);
    text-shadow: 0px 0px 8px #ffae00;
}

.marqxxx {
    border-image: url(backgrounds/border4xxx.webp) 16;
    background-image: url(backgrounds/marqueexxx.webp);
    color: rgb(36, 194, 83);
    text-shadow: 0px 0px 8px #00ff4c;
}

.marquee__item {
	animation-duration: 12s ;
	animation-name: marquee-content ;
	animation-timing-function: linear ;
    display: inline-block;
}

@keyframes marquee-content {
	/* Element one fully ON screen at left-edge of container. */
	from {
		transform: translateX(var(--start-x));
	}
	/* Element one fully OFF screen (just beyond left-ledge of container). */
	to {
		transform: translateX(var(--end-x));
	}
}


.content {
    border: 16px solid transparent;
    border-image: url(backgrounds/bordertest3.webp) 16;
    padding: 12px;
    background-image: url(backgrounds/bodybg.webp);
    border-radius: 16px;
}

.contentalt {
    border-image: url(backgrounds/bordertest3alt.webp) 16;
    background-image: url(backgrounds/bodybgalt.webp);
}

.contentlink {
    border-image: url(backgrounds/bordertest3link.webp) 16;
    background-image: url(backgrounds/bodybglink.webp);
}

.contentabout {
    border-image: url(backgrounds/border3about.webp) 16;
    background-image: url(backgrounds/bodybgabout.webp);
}

.contentxxx {
    border-image: url(backgrounds/border3xxx.webp) 16;
    background-image: url(backgrounds/bodybgxxx.webp);
}